* {
  margin: 0;
  padding: 0; }

.navbar .navbar__logo {
  width: 15vw; }

.navbar .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-image: url(https://us.123rf.com/450wm/plasticperson/plasticperson1905/plasticperson190504269/122498608-fondo-de-humo-de-color-blanco-abstracto-aislado-sobre-fondo-de-color-azul-la-pared-de-niebla-blanca-.jpg?ver=6); }

.navbar .dropdown-menu {
  background-image: url(https://us.123rf.com/450wm/plasticperson/plasticperson1905/plasticperson190504269/122498608-fondo-de-humo-de-color-blanco-abstracto-aislado-sobre-fondo-de-color-azul-la-pared-de-niebla-blanca-.jpg?ver=6); }

.navbar .navbar-brand {
  box-shadow: 1px 1px 2px rgba(0, 174, 255, 0.219); }

.navbar .navbar-toggler {
  background-color: chartreuse; }

.navbar .nav-link {
  color: red;
  font-size: 1.2em;
  font-weight: 500; }

.navbar .dropdown-item {
  color: red;
  font-size: 1.2em;
  font-weight: 500; }

.index {
  background-image: url("https://fondosmil.com/fondo/79546.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .index__titulo {
    text-align: center;
    font-size: 3.5em;
    color: blue; }
  .index .carrusel {
    width: 100vw; }
  .index .indexMain p {
    color: white;
    text-align: center;
    max-width: 411px;
    font-size: 1.2em;
    background-color: rgba(3, 3, 3, 0.753);
    margin-top: 10px;
    box-shadow: 1px 1px 1px 1px black; }
  .index .indexMain__caja {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .index .indexMain__caja img {
      width: 30vw;
      margin: 2px;
      box-shadow: 1px 1px 1px 1px black; }

.footer {
  display: grid;
  background-color: black;
  color: white;
  grid-template-areas: "redes redes" "nombre nombre"; }
  .footer__nombre {
    text-align: center;
    font-size: 0.6em;
    margin-top: 10px; }
  .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
    margin-top: 10px; }

.lugares {
  display: flex;
  flex-direction: column;
  background-color: black; }
  .lugares__titulo {
    text-align: center;
    font-size: 3.5em;
    color: rgba(255, 255, 255, 0.911); }
  .lugares__h2 {
    text-align: center;
    color: red;
    font-size: 2em;
    background: linear-gradient(0deg, rgba(180, 25, 203, 0.625088) 0%, rgba(240, 0, 222, 0.515844) 23%, rgba(216, 26, 221, 0.459821) 53%, rgba(252, 5, 197, 0.445816) 99%); }
  .lugares .foto {
    width: 100vw; }
  .lugares__pueblos {
    width: 100vw;
    margin-top: 5px; }
    .lugares__pueblos li {
      list-style: none;
      padding: 10px;
      text-align: center; }
    .lugares__pueblos a {
      color: #117bdf;
      text-decoration: none;
      font-size: 2em; }
