@media only screen and (min-width: 768px) and (max-width: 914px) {

    .index__titulo {
     
      font-size: 7em;
      
    }
  
    .index .indexMain p,
    .nosotros__p {
      max-width: 850px;
      font-size: 20em;
    }
  
    .navbar .container-fluid {
     
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .navbar .dropdown-menu {
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .navbar .nav-link {
      font-size: 1.9em;
    }
  
    .navbar .dropdown-item {
      color: #4d07ff;
      font-size: 1.9em;
      
    }

    .index .carrusel{
       
        height: 27vh;
    } 
  
    .index .indexMain p {
      font-size: 2em;
    }

    .lugares__titulo {
        font-size: 7em;
    }
  
    .peces__titulo {
      font-size: 7em;
    }
  
    .peces .menu-fi a {
      font-size: 2em;
    }
  
    .peces .fa-solid {
      position: fixed;
      color: white;
      transform: translate(-372px, -67px);
      font-size: 3em;
    }
  
    .peces .cajaPeces img {
      width: 37vw;
    }
  
    .peces .cajaPeces h2 {
      color: red;
      text-align: center;
      margin-top: 36px;
      font: 5.800000000000001em sans-serif;
    }
  
    .peces .cajaPeces li {
      font-size: 2em;
      max-width: 638px;
    }
  
    .peces .foto {
     
      height: 27vh;
    }

    .lugares .foto{
      
    height: 27vh;
  
    }

    .nosotros__titulo{

        font-size: 7em;
    }

    .nosotros .foto{

        width: 100vw;
        height: 27vh;
    }

    .nosotros__p{

        font-size: 2em;
    }

    .for{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 78px;
        margin-bottom: 244px;
    }

    .form-label{
        font-size: 1.8em;
    }

    .form-control{
        width: 80vw;
    }

    .btn {
        margin-top: 10px;
    }

    
    
    
    
    
  
  }