.footer{
    display: grid;
    border-top: groove #3ace22;
    background-color: black;
    color: white;
    grid-template-areas:
        "redes redes"
        "nombre nombre";
        &__nombre{
            
                text-align: center;
                font-size: 0.6em;
                margin-top: 10px;
            }

      &__redes{
        display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
    a{
      font-size: 1.5em;
    }
      }      
        
}