.index {

    background-image: url("https://fondosmil.com/fondo/79546.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .bg-light {
        padding: 0;
    }

    &__titulo {
        text-align: center;
        font-size: 3.5em;
        color: blue;
        font-family: $tipoTitulo;
    }

    .fotoindex {
        display: none;

    }

    .carrusel {
        width: 100vw;
    }

    .indexMain {

        p {
            @extend %parrafos;
            @include styleparra($colorfondotexto, $colortitulo);
            font-family: $tipoTitulo;
            max-width: 392px;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .p__media {
            height: 172px;
        }

        &__caja {
            @extend %flexrow;

            img {
                width: 30vw;
                margin: 2px;
                box-shadow: 1px 1px 1px 1px black;

            }
        }

    }

}