.lugares {
   @extend %flexcolumn;
    background-color:$colorfondo;
    &__titulo{
        text-align: center;
    font-size: 3.5em;
    color: $colortitulo;

    }

    &__h2 {
        text-align: center;
        color: red;
        font-size: 2em;
        background:linear-gradient(0deg, rgba(180,25,203,0.6250875350140056) 0%, rgba(240,0,222,0.5158438375350141) 23%, rgba(216,26,221,0.4598214285714286) 53%, rgba(252,5,197,0.4458158263305322) 99%);

    }

    .foto{
        width: 100vw;
    }


    &__pueblos {
        width: 100vw;
        margin-top: 5px;


        li {
            list-style: none;
            padding: 10px;
            text-align: center;
           
          
        }

        a{
            color: rgb(17, 123, 223);
           text-decoration: none;
           font-size: 2em;
        }

        a:visited{
            color: red;
        }

    }


}