.main {
    display: flex;
    flex-direction: column;

    &__parrafo {
        font-size: 1.2em;
        max-width: 390px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.445);
        color: white;
        box-shadow: 2px 3px 2px black;
        margin-top: 5px;
        text-align: center;
        
    }

    &__h2{
        
            color:red;
            font-size: 2em;
        
    }

    &__fot {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-image: url(https://images.ctfassets.net/hrltx12pl8hq/5KiKmVEsCQPMNrbOE6w0Ot/341c573752bf35cb969e21fcd279d3f9/hero-img_copy.jpg?fit=fill&w=800&h=300);

    }

    &__fot img {
        width: 30vw;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 12px;
    }

    &__pueblos{
        width: 100vw;
    margin-top: 5px;

        li{
            list-style: none;
    padding: 10px;
        }

        a{
            color: white;
    font-size: 1.5em;
    text-decoration: none;
    background-color: rgba(240, 248, 255, 0.151);
    &:visited{
        background-color: yellow;
        border-color: hotpink;
        color: hotpink;

    }
        }
   
    }


}