.nosotros{
    display: flex;
    flex-direction: column;
    background-color: $colorfondo;
    &__titulo{
        text-align: center;
    font-size: 3.5em;
    color:$colortitulo;

    }

    .foto{
        width: 100vw;
    }

    &__p{
       @extend %parrafos;
       @include styleparra( rgba(255, 0, 0, 0.212), $colortitulo);
    }

    .form-label{
        color: red;
        
    }

    .btn{
        margin-top: 12px;
    }

}