.peces {

    display: flex;
    flex-direction: column;
    background-color: black;

    &__titulo {
        text-align: center;
        font-size: 3.5em;
        color: rgba(255, 255, 255, 0.911);

    }


    .foto {
        width: 100vw;
    }

    #fixmenu {
        position: fixed;
        background-color: #5e8bc552;
    }

    .menu-fixed {
        display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;

        li{
            list-style: none;
            padding: 2px;
           
        }

        a{
            text-decoration: none;
            font-size:0.9em;
            color:black; 
            text-shadow:1px 1px #5E8BC5;
            padding: 3px;
            background-color: white;

        }
    }

    .cajaPeces {
        display: flex;
        flex-direction: column;
        align-items: center;


        h2 {
            color: red;
            text-align: center;
            margin-top: 36px;
            font: 2.8em sans-serif;
        }

        img {
            width: 50vw;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        li {
            color: white;
            margin-top: 5px;
            list-style: none;
            font-size: 1em;
            max-width: 350px;
            font-family: 'Courier New', Courier, monospace;
        }

        &__resaltar {
            color: red;
            font-weight: 900;
            font-size: 1.1em;
        }

    }



}